<html>
<body>
  <div style='text-align:center;font-size:80px;'>
    <image height="340" width="500" src="https://media.istockphoto.com/id/108226626/photo/feline.jpg?s=2048x2048&w=is&k=20&c=quz-Y65TkQgh-EynbaVr08KXmKW8ykBOt4-7NFcWoVo=">
    <p><%= message %></p>
  </div>
</body>
</html>